<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container center">
<h3>List of Books</h3>
</div>
<table class="centered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.name}" />
        <td th:text="${book.author}" />
    </tr>
    </tbody>
</table>
<div class="container center">

<form action="#" th:action="@{/}" th:object="${newbook}" method="post">
    <p>author:<input type="text" th:field="*{author}" /></p>
    <p>name:<input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Create new book" class="btn btn-primary green " /> <input type="reset" value="Reset" class="btn btn-primary red" /></p>
</form>
</div>
</body>
</html>